<a href="https://colab.research.google.com/github/profliuhao/CSIT555/blob/main/CSIT_555_Module_8_Indexing_and_Hashing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 8: Indexing and Hashing

### [name]
### [student ID]

In [1]:
# Let's start with load the extension sql
%load_ext sql
%config SqlMagic.style='_DEPRECATED_DEFAULT'
# and then connect to a database **lab3_SQL.db** using:
%sql sqlite:///lab8_SQL.db

In [2]:
%%sql
-- Enable foreign key support
PRAGMA foreign_keys = ON;

drop table if exists customers;
drop table if exists orders;

-- Create a customers table
CREATE TABLE customers (
    customer_id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT NOT NULL,
    phone TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

-- Create an orders table with all necessary fields
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id INTEGER,
    order_date DATETIME DEFAULT CURRENT_TIMESTAMP,
    status TEXT CHECK(status IN ('pending', 'processing', 'shipped', 'delivered')),
    amount DECIMAL(10,2),
    shipping_address TEXT,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

 * sqlite:///lab8_SQL.db
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql


-- Generate sample data for customers
INSERT INTO customers (name, email, phone)
WITH RECURSIVE
  chars(x) AS (
    SELECT 1 UNION ALL SELECT x+1 FROM chars WHERE x < 10000
  )
SELECT
  'Customer ' || x,
  'customer' || x || '@' ||
    CASE (ABS(RANDOM()) % 4)
      WHEN 0 THEN 'gmail.com'
      WHEN 1 THEN 'yahoo.com'
      WHEN 2 THEN 'hotmail.com'
      ELSE 'example.com'
    END,
  '+1-' || (ABS(RANDOM()) % 800 + 200) || '-' ||
    (ABS(RANDOM()) % 900 + 100) || '-' ||
    (ABS(RANDOM()) % 9000 + 1000)
FROM chars;

-- Generate sample orders (multiple orders per customer)
INSERT INTO orders (customer_id, order_date, status, amount, shipping_address)
WITH RECURSIVE
  entries(x) AS (
    SELECT 1 UNION ALL SELECT x+1 FROM entries WHERE x < 100000
  )
SELECT
  (ABS(RANDOM()) % 10000) + 1,
  datetime('now', '-' || (ABS(RANDOM()) % 365) || ' days'),
  CASE (ABS(RANDOM()) % 4)
    WHEN 0 THEN 'pending'
    WHEN 1 THEN 'processing'
    WHEN 2 THEN 'shipped'
    ELSE 'delivered'
  END,
  ROUND((ABS(RANDOM()) % 900) + (ABS(RANDOM()) % 100) / 100.0 + 10.0, 2),
  (ABS(RANDOM()) % 9900 + 100) || ' ' ||
  CASE (ABS(RANDOM()) % 5)
    WHEN 0 THEN 'Main St'
    WHEN 1 THEN 'Oak Ave'
    WHEN 2 THEN 'Park Rd'
    WHEN 3 THEN 'Lake Dr'
    ELSE 'Hill Blvd'
  END || ', ' ||
  CASE (ABS(RANDOM()) % 5)
    WHEN 0 THEN 'New York, NY'
    WHEN 1 THEN 'Los Angeles, CA'
    WHEN 2 THEN 'Chicago, IL'
    WHEN 3 THEN 'Houston, TX'
    ELSE 'Phoenix, AZ'
  END || ' ' ||
  (ABS(RANDOM()) % 89999 + 10000)
FROM entries;

 * sqlite:///lab8_SQL.db
10000 rows affected.
100000 rows affected.

[]

In [4]:
%%sql
select * from customers limit 20;

 * sqlite:///lab8_SQL.db
Done.

[(1, 'Customer 1', 'customer1@gmail.com', '+1-607-443-4969', '2025-03-01 20:00:04'),
 (2, 'Customer 2', 'customer2@example.com', '+1-712-869-9055', '2025-03-01 20:00:04'),
 (3, 'Customer 3', 'customer3@hotmail.com', '+1-939-427-4812', '2025-03-01 20:00:04'),
 (4, 'Customer 4', 'customer4@gmail.com', '+1-788-626-7910', '2025-03-01 20:00:04'),
 (5, 'Customer 5', 'customer5@yahoo.com', '+1-211-350-1405', '2025-03-01 20:00:04'),
 (6, 'Customer 6', 'customer6@gmail.com', '+1-580-418-2576', '2025-03-01 20:00:04'),
 (7, 'Customer 7', 'customer7@yahoo.com', '+1-884-130-9434', '2025-03-01 20:00:04'),
 (8, 'Customer 8', 'customer8@gmail.com', '+1-780-911-6333', '2025-03-01 20:00:04'),
 (9, 'Customer 9', 'customer9@example.com', '+1-223-414-9833', '2025-03-01 20:00:04'),
 (10, 'Customer 10', 'customer10@yahoo.com', '+1-375-451-9002', '2025-03-01 20:00:04'),
 (11, 'Customer 11', 'customer11@gmail.com', '+1-598-547-8771', '2025-03-01 20:00:04'),
 (12, 'Customer 12', 'customer12@example.com', '+1-933-110-7694', '2025-03-01 20:00:04'),
 (13, 'Customer 13', 'customer13@gmail.com', '+1-958-851-9293', '2025-03-01 20:00:04'),
 (14, 'Customer 14', 'customer14@gmail.com', '+1-255-534-5250', '2025-03-01 20:00:04'),
 (15, 'Customer 15', 'customer15@hotmail.com', '+1-230-716-6679', '2025-03-01 20:00:04'),
 (16, 'Customer 16', 'customer16@yahoo.com', '+1-290-733-2234', '2025-03-01 20:00:04'),
 (17, 'Customer 17', 'customer17@yahoo.com', '+1-598-473-5491', '2025-03-01 20:00:04'),
 (18, 'Customer 18', 'customer18@hotmail.com', '+1-309-589-3819', '2025-03-01 20:00:04'),
 (19, 'Customer 19', 'customer19@hotmail.com', '+1-961-236-8524', '2025-03-01 20:00:04'),
 (20, 'Customer 20', 'customer20@hotmail.com', '+1-304-258-9132', '2025-03-01 20:00:04')]

In [5]:
%%sql
select * from orders limit 50;

 * sqlite:///lab8_SQL.db
Done.

[(1, 3340, '2024-04-10 20:00:04', 'pending', 424.12, '7659 Oak Ave, Houston, TX 70478'),
 (2, 8929, '2024-04-01 20:00:04', 'shipped', 153.91, '7258 Oak Ave, Houston, TX 91292'),
 (3, 4995, '2024-11-13 20:00:04', 'delivered', 468.5, '2209 Oak Ave, New York, NY 35615'),
 (4, 8085, '2024-08-31 20:00:04', 'pending', 856.43, '399 Park Rd, Phoenix, AZ 79370'),
 (5, 1267, '2024-05-17 20:00:04', 'pending', 439.4, '5590 Oak Ave, Phoenix, AZ 19085'),
 (6, 441, '2025-02-15 20:00:04', 'shipped', 511.47, '9073 Hill Blvd, New York, NY 61741'),
 (7, 8844, '2024-09-18 20:00:04', 'shipped', 377.02, '7761 Park Rd, Chicago, IL 13704'),
 (8, 3408, '2025-02-12 20:00:04', 'processing', 91.45, '7266 Lake Dr, New York, NY 41009'),
 (9, 2386, '2024-06-21 20:00:04', 'delivered', 594.5, '6500 Oak Ave, New York, NY 88885'),
 (10, 6977, '2024-10-11 20:00:04', 'delivered', 159.14, '152 Hill Blvd, Chicago, IL 45165'),
 (11, 8646, '2024-06-06 20:00:04', 'processing', 199.54, '2859 Lake Dr, Chicago, IL 88654'),
 (12, 8539, '2024-10-08 20:00:04', 'processing', 372.3, '5435 Park Rd, Phoenix, AZ 83098'),
 (13, 2830, '2024-06-27 20:00:04', 'pending', 703.22, '5795 Park Rd, Phoenix, AZ 36735'),
 (14, 594, '2024-03-17 20:00:04', 'delivered', 897.97, '7586 Lake Dr, Houston, TX 22111'),
 (15, 2847, '2024-04-20 20:00:04', 'pending', 411.93, '7832 Hill Blvd, New York, NY 29115'),
 (16, 1536, '2024-05-09 20:00:04', 'pending', 507.43, '7128 Lake Dr, New York, NY 21020'),
 (17, 388, '2024-04-08 20:00:04', 'processing', 101.68, '3621 Park Rd, Phoenix, AZ 43920'),
 (18, 7036, '2024-04-28 20:00:04', 'delivered', 694.12, '7609 Oak Ave, New York, NY 86176'),
 (19, 3419, '2024-08-23 20:00:04', 'pending', 75.65, '4581 Main St, Phoenix, AZ 42752'),
 (20, 9356, '2024-12-28 20:00:04', 'pending', 49.7, '2547 Park Rd, New York, NY 33593'),
 (21, 7959, '2024-04-08 20:00:04', 'delivered', 579.06, '6974 Hill Blvd, Phoenix, AZ 40742'),
 (22, 7356, '2024-12-03 20:00:04', 'pending', 36.35, '3324 Hill Blvd, New York, NY 24532'),
 (23, 4131, '2024-09-05 20:00:04', 'delivered', 724.76, '7751 Park Rd, Los Angeles, CA 51178'),
 (24, 4646, '2024-04-18 20:00:04', 'shipped', 617.79, '2068 Main St, Phoenix, AZ 22819'),
 (25, 6029, '2024-06-08 20:00:04', 'delivered', 93.64, '5523 Park Rd, Phoenix, AZ 24175'),
 (26, 9776, '2024-05-30 20:00:04', 'shipped', 762.99, '6617 Hill Blvd, Phoenix, AZ 58478'),
 (27, 1597, '2024-08-25 20:00:04', 'delivered', 307.01, '5057 Oak Ave, New York, NY 36200'),
 (28, 2152, '2024-12-25 20:00:04', 'pending', 374.01, '7259 Hill Blvd, Houston, TX 36238'),
 (29, 3811, '2025-02-13 20:00:04', 'delivered', 637.26, '1532 Oak Ave, Los Angeles, CA 13341'),
 (30, 9746, '2024-06-29 20:00:04', 'pending', 892.18, '2699 Lake Dr, New York, NY 88706'),
 (31, 5233, '2024-07-07 20:00:04', 'processing', 71.47, '9853 Main St, New York, NY 59914'),
 (32, 1559, '2024-07-31 20:00:04', 'processing', 407.2, '1520 Hill Blvd, Phoenix, AZ 67003'),
 (33, 7716, '2024-11-04 20:00:04', 'delivered', 485.58, '1727 Hill Blvd, Los Angeles, CA 28270'),
 (34, 9480, '2024-05-24 20:00:04', 'pending', 593.12, '4208 Oak Ave, Houston, TX 67237'),
 (35, 5584, '2024-11-06 20:00:04', 'pending', 824.97, '3651 Hill Blvd, Chicago, IL 97174'),
 (36, 281, '2024-10-15 20:00:04', 'shipped', 295.27, '3840 Main St, Chicago, IL 84929'),
 (37, 9720, '2024-12-09 20:00:04', 'processing', 705.83, '8498 Lake Dr, Chicago, IL 31165'),
 (38, 669, '2024-09-04 20:00:04', 'processing', 875.46, '4194 Oak Ave, Chicago, IL 37909'),
 (39, 6212, '2024-03-14 20:00:04', 'shipped', 188.54, '931 Park Rd, New York, NY 41634'),
 (40, 4923, '2024-07-30 20:00:04', 'processing', 99.06, '1724 Oak Ave, New York, NY 11619'),
 (41, 3842, '2024-10-26 20:00:04', 'shipped', 219.68, '7692 Park Rd, Houston, TX 11409'),
 (42, 9614, '2025-02-28 20:00:04', 'processing', 371.71, '8991 Main St, Phoenix, AZ 58261'),
 (43, 5015, '2024-06-21 20:00:04', 'processing', 385.19, '3785 Hill Blvd, Phoenix, AZ 50596'),
 (44, 5002, '2024-05-12 20:00:04', 'processing', 37.72, '9613 Main St, Phoenix, AZ 41606'),
 (45, 9005, '2024-12-09 20:00:04', 'pending', 467.78, '5904 Oak Ave, New York, NY 18763'),
 (46, 5658, '2024-07-08 20:00:04', 'delivered', 505.52, '4183 Hill Blvd, New York, NY 14416'),
 (47, 8588, '2024-04-12 20:00:04', 'shipped', 72.05, '5119 Main St, New York, NY 33488'),
 (48, 1336, '2024-03-15 20:00:04', 'pending', 306.05, '7012 Oak Ave, New York, NY 22887'),
 (49, 9055, '2024-08-12 20:00:04', 'shipped', 301.5, '7660 Main St, Chicago, IL 23689'),
 (50, 4601, '2024-11-05 20:00:04', 'processing', 490.8, '4102 Park Rd, Houston, TX 91171')]

In [6]:
%%sql
select count(1) from orders;

 * sqlite:///lab8_SQL.db
Done.

[(100000,)]

In [7]:
%%sql
select count(*) from orders
where amount > 909;

 * sqlite:///lab8_SQL.db
Done.

[(105,)]

In [8]:
%%time
%%sql

-- Create indexes and analyze their impact

-- Analyze query performance before and after index
EXPLAIN QUERY PLAN
SELECT * FROM customers WHERE email = 'customer900@gmail.com';

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 892 µs, sys: 1.82 ms, total: 2.71 ms
Wall time: 2.41 ms

[(2, 0, 0, 'SCAN customers')]

In [9]:
%%time
%%sql

-- Create indexes and analyze their impact

-- Analyze query performance before and after index
SELECT * FROM customers WHERE email = 'customer900@gmail.com';

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 3.11 ms, sys: 856 µs, total: 3.96 ms
Wall time: 3.4 ms

[]

In [10]:
%%time
%%sql
-- Analyze compound index usage
EXPLAIN QUERY PLAN
SELECT * FROM orders
WHERE customer_id = 1000
AND order_date >= datetime('now', '-30 days');

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 2.96 ms, sys: 152 µs, total: 3.11 ms
Wall time: 2.96 ms

[(2, 0, 0, 'SCAN orders')]

In [11]:
%%time
%%sql
-- Analyze compound index usage
SELECT * FROM orders
WHERE customer_id = 1000
AND order_date >= datetime('now', '-30 days');

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 10.4 ms, sys: 4.85 ms, total: 15.3 ms
Wall time: 14.9 ms

[(29772, 1000, '2025-02-05 20:00:04', 'pending', 408.39, '5496 Park Rd, Chicago, IL 16289')]

In [12]:
%%sql
-- Analyze range query performance
EXPLAIN QUERY PLAN
SELECT * FROM orders
WHERE amount BETWEEN 490 AND 500
ORDER BY amount DESC;

 * sqlite:///lab8_SQL.db
Done.

[(3, 0, 0, 'SCAN orders'), (17, 0, 0, 'USE TEMP B-TREE FOR ORDER BY')]

In [13]:
%%time
%%sql
-- Analyze range query performance
SELECT * FROM orders
WHERE amount BETWEEN 490 AND 500
ORDER BY amount DESC
limit 100;

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 18.2 ms, sys: 5.98 ms, total: 24.2 ms
Wall time: 33 ms

[(19655, 6603, '2024-11-28 20:00:04', 'shipped', 500, '4178 Oak Ave, Los Angeles, CA 13447'),
 (46862, 4792, '2024-05-09 20:00:04', 'delivered', 500, '8879 Park Rd, Phoenix, AZ 81633'),
 (67472, 6331, '2024-11-01 20:00:04', 'pending', 500, '7341 Oak Ave, New York, NY 60874'),
 (40266, 4444, '2024-06-15 20:00:04', 'delivered', 499.99, '5987 Lake Dr, Phoenix, AZ 19469'),
 (9893, 8741, '2024-06-26 20:00:04', 'pending', 499.97, '4834 Oak Ave, Chicago, IL 72005'),
 (32977, 8407, '2024-10-22 20:00:04', 'pending', 499.96, '9666 Lake Dr, Chicago, IL 90977'),
 (53771, 2288, '2024-09-08 20:00:04', 'shipped', 499.96, '9308 Park Rd, New York, NY 47289'),
 (9226, 782, '2024-03-02 20:00:04', 'processing', 499.95, '9703 Oak Ave, Phoenix, AZ 69691'),
 (30816, 2326, '2025-01-04 20:00:04', 'pending', 499.94, '3008 Main St, Houston, TX 75093'),
 (68873, 1434, '2025-01-24 20:00:04', 'shipped', 499.91, '9109 Lake Dr, Phoenix, AZ 99881'),
 (15666, 92, '2025-01-09 20:00:04', 'pending', 499.9, '2900 Hill Blvd, Los Angeles, CA 24498'),
 (71461, 3566, '2024-06-19 20:00:04', 'processing', 499.9, '3365 Main St, Los Angeles, CA 39483'),
 (54822, 1896, '2024-05-17 20:00:04', 'delivered', 499.88, '7747 Lake Dr, Chicago, IL 96984'),
 (16996, 7271, '2025-01-15 20:00:04', 'delivered', 499.87, '5815 Main St, New York, NY 15509'),
 (24713, 6036, '2024-04-23 20:00:04', 'shipped', 499.86, '9664 Park Rd, Phoenix, AZ 19812'),
 (6510, 5002, '2024-05-02 20:00:04', 'delivered', 499.85, '9139 Oak Ave, Los Angeles, CA 45303'),
 (24363, 745, '2024-11-07 20:00:04', 'pending', 499.85, '9874 Lake Dr, New York, NY 76019'),
 (15433, 6803, '2024-10-14 20:00:04', 'delivered', 499.84, '7276 Main St, Los Angeles, CA 25834'),
 (74382, 393, '2024-12-16 20:00:04', 'processing', 499.84, '9596 Main St, Chicago, IL 68757'),
 (87537, 1784, '2024-08-16 20:00:04', 'processing', 499.84, '3505 Main St, Houston, TX 44117'),
 (8525, 2971, '2024-08-03 20:00:04', 'delivered', 499.82, '4355 Main St, Phoenix, AZ 10150'),
 (60944, 9397, '2024-09-18 20:00:04', 'delivered', 499.82, '3022 Main St, Houston, TX 53103'),
 (65142, 6515, '2024-12-24 20:00:04', 'shipped', 499.82, '1219 Main St, Los Angeles, CA 85476'),
 (17821, 9786, '2024-03-19 20:00:04', 'processing', 499.79, '3610 Park Rd, Los Angeles, CA 24946'),
 (33267, 1335, '2024-06-24 20:00:04', 'shipped', 499.79, '2567 Main St, New York, NY 25894'),
 (99539, 9321, '2024-03-05 20:00:04', 'pending', 499.78, '9099 Main St, Los Angeles, CA 40397'),
 (12979, 7688, '2024-10-16 20:00:04', 'pending', 499.77, '8867 Park Rd, Chicago, IL 55008'),
 (73728, 235, '2024-03-16 20:00:04', 'delivered', 499.77, '1755 Lake Dr, Phoenix, AZ 11506'),
 (83992, 5996, '2024-04-14 20:00:04', 'shipped', 499.77, '9288 Main St, Phoenix, AZ 14997'),
 (88964, 314, '2024-08-22 20:00:04', 'delivered', 499.73, '3511 Oak Ave, Phoenix, AZ 33150'),
 (42949, 9583, '2025-02-27 20:00:04', 'delivered', 499.72, '1388 Main St, Chicago, IL 15646'),
 (54755, 4836, '2025-02-19 20:00:04', 'delivered', 499.72, '3834 Oak Ave, Los Angeles, CA 27407'),
 (57228, 3955, '2024-11-10 20:00:04', 'processing', 499.7, '5331 Hill Blvd, Houston, TX 50276'),
 (81147, 7869, '2025-01-09 20:00:04', 'delivered', 499.69, '2799 Main St, Los Angeles, CA 31851'),
 (47293, 7408, '2024-11-24 20:00:04', 'pending', 499.68, '5959 Hill Blvd, New York, NY 10793'),
 (100000, 8368, '2025-02-08 20:00:04', 'processing', 499.68, '8730 Lake Dr, Chicago, IL 58678'),
 (42027, 8430, '2024-11-20 20:00:04', 'delivered', 499.67, '9626 Hill Blvd, Houston, TX 13924'),
 (22770, 6084, '2024-04-05 20:00:04', 'processing', 499.66, '4227 Main St, New York, NY 74667'),
 (27722, 6312, '2024-07-06 20:00:04', 'delivered', 499.66, '2459 Hill Blvd, Phoenix, AZ 37507'),
 (27992, 3228, '2025-01-15 20:00:04', 'delivered', 499.65, '2701 Lake Dr, New York, NY 41049'),
 (51009, 4121, '2025-02-11 20:00:04', 'pending', 499.65, '8769 Hill Blvd, Los Angeles, CA 40364'),
 (51145, 232, '2025-01-31 20:00:04', 'shipped', 499.65, '3149 Oak Ave, Los Angeles, CA 11536'),
 (3193, 8300, '2024-11-26 20:00:04', 'processing', 499.64, '2096 Lake Dr, Phoenix, AZ 12621'),
 (17698, 4591, '2024-09-27 20:00:04', 'processing', 499.62, '7553 Hill Blvd, Chicago, IL 96959'),
 (24168, 5457, '2025-02-14 20:00:04', 'processing', 499.62, '1202 Main St, New York, NY 61270'),
 (21938, 6406, '2024-12-14 20:00:04', 'delivered', 499.61, '790 Main St, Houston, TX 64284'),
 (37850, 4729, '2024-08-26 20:00:04', 'processing', 499.58, '5352 Hill Blvd, Houston, TX 17738'),
 (66746, 6953, '2024-03-07 20:00:04', 'processing', 499.58, '821 Hill Blvd, Los Angeles, CA 70102'),
 (38248, 793, '2024-06-14 20:00:04', 'shipped', 499.53, '7416 Oak Ave, Phoenix, AZ 74870'),
 (21778, 9572, '2024-11-01 20:00:04', 'processing', 499.51, '3324 Hill Blvd, New York, NY 71600'),
 (22018, 6722, '2025-02-24 20:00:04', 'shipped', 499.51, '2663 Oak Ave, New York, NY 56926'),
 (95214, 8071, '2024-10-01 20:00:04', 'shipped', 499.51, '3282 Hill Blvd, New York, NY 32701'),
 (7152, 4590, '2025-02-01 20:00:04', 'delivered', 499.5, '4371 Lake Dr, Los Angeles, CA 97061'),
 (59078, 284, '2024-04-09 20:00:04', 'delivered', 499.48, '4932 Hill Blvd, Chicago, IL 85123'),
 (62389, 1990, '2024-10-17 20:00:04', 'shipped', 499.48, '3977 Lake Dr, Phoenix, AZ 97377'),
 (15442, 206, '2024-03-29 20:00:04', 'pending', 499.47, '5237 Oak Ave, New York, NY 83006'),
 (66648, 6725, '2024-08-12 20:00:04', 'delivered', 499.47, '7132 Lake Dr, Los Angeles, CA 53930'),
 (35838, 8750, '2024-10-04 20:00:04', 'delivered', 499.45, '7968 Main St, Houston, TX 48989'),
 (42347, 4783, '2024-06-01 20:00:04', 'pending', 499.45, '7106 Lake Dr, Los Angeles, CA 42754'),
 (45719, 5680, '2024-06-03 20:00:04', 'processing', 499.45, '4849 Oak Ave, Los Angeles, CA 57516'),
 (80198, 9870, '2025-02-24 20:00:04', 'processing', 499.45, '6333 Oak Ave, Houston, TX 65458'),
 (88652, 3501, '2025-01-22 20:00:04', 'shipped', 499.44, '460 Park Rd, Chicago, IL 58618'),
 (27032, 5044, '2024-10-04 20:00:04', 'pending', 499.43, '9683 Oak Ave, Los Angeles, CA 52870'),
 (48487, 5641, '2024-12-25 20:00:04', 'shipped', 499.42, '9942 Lake Dr, Phoenix, AZ 62737'),
 (17752, 6781, '2024-07-04 20:00:04', 'processing', 499.4, '3559 Oak Ave, New York, NY 34393'),
 (82443, 4944, '2024-07-08 20:00:04', 'delivered', 499.4, '6428 Hill Blvd, Chicago, IL 30415'),
 (13331, 2628, '2024-09-17 20:00:04', 'processing', 499.39, '5825 Park Rd, Phoenix, AZ 15838'),
 (17233, 4957, '2024-04-03 20:00:04', 'pending', 499.37, '1327 Main St, Chicago, IL 41482'),
 (67317, 6881, '2024-09-26 20:00:04', 'delivered', 499.37, '7304 Lake Dr, Los Angeles, CA 21386'),
 (20960, 5645, '2024-07-17 20:00:04', 'delivered', 499.36, '2222 Oak Ave, Houston, TX 72654'),
 (26891, 8211, '2024-06-23 20:00:04', 'delivered', 499.36, '3500 Hill Blvd, Houston, TX 22040'),
 (65250, 7548, '2024-06-05 20:00:04', 'shipped', 499.35, '5077 Oak Ave, Los Angeles, CA 34032'),
 (6591, 7550, '2025-01-26 20:00:04', 'shipped', 499.34, '4985 Hill Blvd, Los Angeles, CA 12503'),
 (29736, 7542, '2024-11-10 20:00:04', 'delivered', 499.34, '193 Main St, New York, NY 51839'),
 (32652, 4631, '2024-08-31 20:00:04', 'processing', 499.34, '6548 Main St, New York, NY 68770'),
 (59242, 9978, '2024-11-19 20:00:04', 'pending', 499.34, '7540 Oak Ave, Phoenix, AZ 93651'),
 (61260, 1976, '2025-01-27 20:00:04', 'delivered', 499.31, '712 Hill Blvd, Houston, TX 73516'),
 (41749, 6045, '2024-06-26 20:00:04', 'processing', 499.3, '3606 Hill Blvd, New York, NY 32726'),
 (68519, 2256, '2024-05-02 20:00:04', 'shipped', 499.3, '3803 Hill Blvd, Houston, TX 47168'),
 (70861, 424, '2024-08-26 20:00:04', 'pending', 499.3, '5305 Oak Ave, Los Angeles, CA 85883'),
 (12650, 9893, '2024-08-09 20:00:04', 'delivered', 499.29, '9936 Lake Dr, Phoenix, AZ 11371'),
 (28904, 3054, '2025-02-17 20:00:04', 'shipped', 499.28, '5095 Hill Blvd, New York, NY 57938'),
 (77843, 5610, '2024-09-23 20:00:04', 'processing', 499.27, '879 Lake Dr, Houston, TX 37050'),
 (74012, 6005, '2024-04-26 20:00:04', 'shipped', 499.22, '179 Hill Blvd, New York, NY 85936'),
 (81736, 8762, '2024-05-06 20:00:04', 'processing', 499.21, '7349 Main St, Chicago, IL 34391'),
 (39625, 1305, '2024-07-23 20:00:04', 'processing', 499.19, '5446 Oak Ave, Houston, TX 76376'),
 (44755, 3939, '2024-09-01 20:00:04', 'pending', 499.19, '7167 Oak Ave, Phoenix, AZ 31613'),
 (86270, 4409, '2024-03-29 20:00:04', 'delivered', 499.17, '2581 Park Rd, Los Angeles, CA 91765'),
 (34347, 3646, '2024-11-09 20:00:04', 'delivered', 499.14, '2632 Hill Blvd, Houston, TX 32226'),
 (59671, 7953, '2024-04-28 20:00:04', 'delivered', 499.12, '3452 Oak Ave, Los Angeles, CA 51301'),
 (38747, 7995, '2024-09-23 20:00:04', 'delivered', 499.11, '2578 Main St, Chicago, IL 31996'),
 (97362, 1102, '2024-09-23 20:00:04', 'shipped', 499.11, '5919 Hill Blvd, Los Angeles, CA 74304'),
 (26679, 5946, '2024-08-03 20:00:04', 'delivered', 499.1, '4447 Lake Dr, Los Angeles, CA 70859'),
 (8059, 117, '2025-01-18 20:00:04', 'delivered', 499.09, '5761 Main St, Los Angeles, CA 38609'),
 (20133, 9655, '2024-10-10 20:00:04', 'processing', 499.03, '2846 Hill Blvd, New York, NY 66562'),
 (51249, 6751, '2024-11-06 20:00:04', 'pending', 499.03, '9347 Oak Ave, Chicago, IL 98367'),
 (69466, 9436, '2024-11-25 20:00:04', 'processing', 499.03, '2205 Lake Dr, Chicago, IL 93551'),
 (40955, 4331, '2024-11-10 20:00:04', 'shipped', 499.01, '3464 Park Rd, Houston, TX 37336'),
 (38839, 1324, '2024-10-23 20:00:04', 'pending', 498.99, '9459 Park Rd, New York, NY 72501'),
 (3408, 2345, '2025-02-07 20:00:04', 'shipped', 498.97, '1515 Main St, Phoenix, AZ 37159')]

In [14]:
%%sql
-- Analyze phone lookup performance
EXPLAIN QUERY PLAN
SELECT * FROM customers
WHERE phone LIKE '+1-555%';

 * sqlite:///lab8_SQL.db
Done.

[(2, 0, 0, 'SCAN customers')]

In [15]:
%%time
%%sql
-- Analyze phone lookup performance
SELECT * FROM customers
WHERE phone LIKE '+1-555%';

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 4.73 ms, sys: 0 ns, total: 4.73 ms
Wall time: 4.68 ms

[(377, 'Customer 377', 'customer377@hotmail.com', '+1-555-747-3556', '2025-03-01 20:00:04'),
 (1370, 'Customer 1370', 'customer1370@yahoo.com', '+1-555-398-6500', '2025-03-01 20:00:04'),
 (1501, 'Customer 1501', 'customer1501@yahoo.com', '+1-555-129-6669', '2025-03-01 20:00:04'),
 (2099, 'Customer 2099', 'customer2099@example.com', '+1-555-854-1381', '2025-03-01 20:00:04'),
 (3421, 'Customer 3421', 'customer3421@example.com', '+1-555-989-7059', '2025-03-01 20:00:04'),
 (3440, 'Customer 3440', 'customer3440@yahoo.com', '+1-555-695-5038', '2025-03-01 20:00:04'),
 (3461, 'Customer 3461', 'customer3461@gmail.com', '+1-555-861-5563', '2025-03-01 20:00:04'),
 (4661, 'Customer 4661', 'customer4661@example.com', '+1-555-673-6731', '2025-03-01 20:00:04'),
 (7555, 'Customer 7555', 'customer7555@hotmail.com', '+1-555-927-8295', '2025-03-01 20:00:04'),
 (7700, 'Customer 7700', 'customer7700@example.com', '+1-555-724-3691', '2025-03-01 20:00:04'),
 (8265, 'Customer 8265', 'customer8265@example.com', '+1-555-228-8709', '2025-03-01 20:00:04'),
 (9085, 'Customer 9085', 'customer9085@hotmail.com', '+1-555-197-2194', '2025-03-01 20:00:04'),
 (9196, 'Customer 9196', 'customer9196@example.com', '+1-555-626-7830', '2025-03-01 20:00:04'),
 (9356, 'Customer 9356', 'customer9356@yahoo.com', '+1-555-449-1429', '2025-03-01 20:00:04')]

In [16]:
%%sql
-- Analyze partial index usage
EXPLAIN QUERY PLAN
SELECT * FROM orders
WHERE amount > 909.5;

 * sqlite:///lab8_SQL.db
Done.

[(2, 0, 0, 'SCAN orders')]

In [17]:
%%time
%%sql
-- Analyze partial index usage
SELECT * FROM orders
WHERE amount > 909.5
limit 100;

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 10.2 ms, sys: 4.82 ms, total: 15 ms
Wall time: 16.2 ms

[(638, 1993, '2024-04-19 20:00:04', 'processing', 909.85, '7452 Main St, Houston, TX 78894'),
 (2658, 8289, '2024-04-04 20:00:04', 'delivered', 909.73, '3133 Park Rd, Phoenix, AZ 50483'),
 (2841, 617, '2024-05-06 20:00:04', 'shipped', 909.77, '335 Main St, Phoenix, AZ 10100'),
 (6528, 8446, '2024-03-06 20:00:04', 'delivered', 909.81, '7201 Hill Blvd, Chicago, IL 39790'),
 (6876, 3576, '2024-05-01 20:00:04', 'delivered', 909.55, '4383 Hill Blvd, Phoenix, AZ 85224'),
 (9256, 246, '2024-10-22 20:00:04', 'pending', 909.79, '3624 Lake Dr, New York, NY 24897'),
 (9284, 3220, '2024-04-25 20:00:04', 'pending', 909.73, '644 Oak Ave, Phoenix, AZ 11395'),
 (9610, 7821, '2024-08-08 20:00:04', 'shipped', 909.6, '623 Main St, New York, NY 95280'),
 (10861, 7318, '2025-02-27 20:00:04', 'delivered', 909.65, '8393 Park Rd, Los Angeles, CA 99795'),
 (10997, 4824, '2024-12-21 20:00:04', 'shipped', 909.88, '2509 Main St, Houston, TX 97759'),
 (11434, 8065, '2024-08-07 20:00:04', 'shipped', 909.99, '7467 Hill Blvd, Houston, TX 17972'),
 (11678, 2897, '2024-04-30 20:00:04', 'shipped', 909.72, '1460 Hill Blvd, Los Angeles, CA 62561'),
 (12813, 6294, '2025-02-04 20:00:04', 'shipped', 909.56, '7555 Lake Dr, Chicago, IL 51389'),
 (14483, 7257, '2024-04-16 20:00:04', 'shipped', 909.68, '5879 Hill Blvd, Chicago, IL 22395'),
 (20816, 6861, '2024-03-10 20:00:04', 'shipped', 909.8, '5625 Lake Dr, Phoenix, AZ 53296'),
 (21364, 9765, '2024-09-17 20:00:04', 'pending', 909.53, '6443 Park Rd, Chicago, IL 20240'),
 (25596, 1648, '2024-11-02 20:00:04', 'processing', 909.78, '2086 Lake Dr, Phoenix, AZ 21413'),
 (26411, 9293, '2024-03-31 20:00:04', 'shipped', 909.76, '7239 Hill Blvd, Chicago, IL 96762'),
 (28712, 8931, '2024-08-19 20:00:04', 'processing', 909.79, '7262 Main St, Phoenix, AZ 82638'),
 (28775, 5003, '2024-05-26 20:00:04', 'pending', 909.55, '8707 Park Rd, New York, NY 99137'),
 (32356, 6156, '2024-10-16 20:00:04', 'shipped', 909.6, '1504 Main St, Houston, TX 29926'),
 (32732, 4117, '2024-10-19 20:00:04', 'delivered', 909.74, '9281 Hill Blvd, New York, NY 20229'),
 (34134, 8757, '2024-07-07 20:00:04', 'delivered', 909.59, '5184 Lake Dr, New York, NY 13452'),
 (37222, 8984, '2024-07-22 20:00:04', 'delivered', 909.61, '7057 Lake Dr, Phoenix, AZ 77598'),
 (40181, 3135, '2024-12-21 20:00:04', 'pending', 909.61, '3252 Hill Blvd, Houston, TX 28471'),
 (43957, 5137, '2025-01-03 20:00:04', 'delivered', 909.91, '9111 Oak Ave, Phoenix, AZ 42886'),
 (46170, 2042, '2024-08-29 20:00:04', 'delivered', 909.91, '5865 Main St, Houston, TX 37785'),
 (46256, 2944, '2024-08-08 20:00:04', 'processing', 909.75, '1620 Oak Ave, Houston, TX 73747'),
 (46704, 7739, '2024-04-24 20:00:04', 'processing', 909.78, '1883 Oak Ave, Los Angeles, CA 26589'),
 (48091, 5432, '2025-01-03 20:00:04', 'pending', 909.56, '7767 Lake Dr, Phoenix, AZ 45629'),
 (51644, 5977, '2024-11-23 20:00:04', 'delivered', 909.64, '4096 Main St, Phoenix, AZ 78145'),
 (56816, 68, '2024-11-16 20:00:04', 'shipped', 909.63, '3492 Oak Ave, New York, NY 46854'),
 (61610, 5653, '2024-04-07 20:00:04', 'delivered', 909.58, '9577 Park Rd, Phoenix, AZ 38799'),
 (62609, 3737, '2024-03-26 20:00:04', 'pending', 909.69, '710 Oak Ave, Chicago, IL 49567'),
 (68428, 7782, '2025-01-01 20:00:04', 'pending', 909.57, '4802 Hill Blvd, Phoenix, AZ 18325'),
 (70230, 5265, '2024-07-16 20:00:04', 'delivered', 909.79, '7168 Oak Ave, Phoenix, AZ 56523'),
 (73146, 3100, '2024-11-24 20:00:04', 'pending', 909.73, '3239 Oak Ave, New York, NY 53974'),
 (74986, 2579, '2025-02-08 20:00:04', 'delivered', 909.6, '1405 Park Rd, Chicago, IL 85953'),
 (78068, 9632, '2024-05-11 20:00:04', 'shipped', 909.87, '8306 Park Rd, Houston, TX 68529'),
 (80222, 6361, '2024-04-18 20:00:04', 'delivered', 909.6, '4658 Oak Ave, New York, NY 21525'),
 (80754, 9356, '2024-10-01 20:00:04', 'pending', 909.58, '4442 Main St, Phoenix, AZ 15897'),
 (81033, 9561, '2024-08-21 20:00:04', 'pending', 909.75, '6005 Park Rd, Chicago, IL 91175'),
 (81524, 7317, '2024-05-07 20:00:04', 'pending', 909.94, '9652 Lake Dr, Houston, TX 73535'),
 (82387, 5227, '2024-10-04 20:00:04', 'shipped', 909.81, '2286 Oak Ave, Chicago, IL 36369'),
 (88281, 6274, '2024-07-22 20:00:04', 'delivered', 909.89, '7613 Oak Ave, Houston, TX 12518'),
 (89946, 5163, '2024-10-12 20:00:04', 'pending', 909.66, '154 Oak Ave, Chicago, IL 27551'),
 (90487, 7245, '2024-09-24 20:00:04', 'pending', 909.89, '8731 Main St, Chicago, IL 80049'),
 (90927, 7395, '2024-04-03 20:00:04', 'delivered', 909.77, '6102 Hill Blvd, Phoenix, AZ 74564'),
 (93084, 5923, '2024-12-10 20:00:04', 'processing', 909.84, '5016 Park Rd, Phoenix, AZ 95352'),
 (93782, 2605, '2024-12-06 20:00:04', 'shipped', 909.53, '1576 Lake Dr, Chicago, IL 71883'),
 (93972, 4898, '2024-08-06 20:00:04', 'shipped', 909.83, '8275 Hill Blvd, Chicago, IL 22145'),
 (95307, 5946, '2025-01-02 20:00:04', 'delivered', 909.98, '1511 Hill Blvd, New York, NY 96726'),
 (96880, 1889, '2025-02-24 20:00:04', 'delivered', 909.62, '780 Oak Ave, New York, NY 86793'),
 (97373, 3414, '2025-01-20 20:00:04', 'processing', 909.76, '5191 Park Rd, Los Angeles, CA 77360'),
 (98189, 6477, '2024-05-21 20:00:04', 'pending', 909.54, '9174 Main St, Houston, TX 16920')]

In [18]:
%%sql
-- 1. Basic index on customer email (commonly used for lookups)
CREATE INDEX idx_customers_email ON customers(email);

-- Analyze query performance before and after index
EXPLAIN QUERY PLAN
SELECT * FROM customers WHERE email = 'customer900@gmail.com';

 * sqlite:///lab8_SQL.db
Done.
Done.

[(3, 0, 0, 'SEARCH customers USING INDEX idx_customers_email (email=?)')]

In [19]:
%%time
%%sql

-- Create indexes and analyze their impact

-- Analyze query performance before and after index
SELECT * FROM customers WHERE email = 'customer900@gmail.com';

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 2.32 ms, sys: 0 ns, total: 2.32 ms
Wall time: 1.95 ms

[]

In [20]:
%%sql
-- 2. Create a compound index for order queries
CREATE INDEX idx_orders_customer_date ON orders(customer_id, order_date);

-- Analyze compound index usage
EXPLAIN QUERY PLAN
SELECT * FROM orders
WHERE customer_id = 1000
AND order_date >= datetime('now', '-30 days');

 * sqlite:///lab8_SQL.db
Done.
Done.

[(3, 0, 0, 'SEARCH orders USING INDEX idx_orders_customer_date (customer_id=? AND order_date>?)')]

In [21]:
%%time
%%sql
-- Analyze compound index usage
SELECT * FROM orders
WHERE customer_id = 1000
AND order_date >= datetime('now', '-30 days');

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 1.75 ms, sys: 117 µs, total: 1.87 ms
Wall time: 1.6 ms

[(29772, 1000, '2025-02-05 20:00:04', 'pending', 408.39, '5496 Park Rd, Chicago, IL 16289')]

In [26]:
%%sql
-- 3. Create an index for amount range queries
CREATE INDEX idx_orders_amount ON orders(amount);

-- Analyze range query performance
EXPLAIN QUERY PLAN
SELECT * FROM orders
WHERE amount BETWEEN 490 AND 500
ORDER BY amount DESC;

 * sqlite:///lab8_SQL.db
Done.
Done.

[(4, 0, 0, 'SEARCH orders USING INDEX idx_orders_amount (amount>? AND amount<?)')]

In [27]:
%%time
%%sql
-- Analyze range query performance
SELECT * FROM orders
WHERE amount BETWEEN 490 AND 500
ORDER BY amount DESC
limit 100;

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 3.74 ms, sys: 115 µs, total: 3.86 ms
Wall time: 3.32 ms

[(67472, 6331, '2024-11-01 20:00:04', 'pending', 500, '7341 Oak Ave, New York, NY 60874'),
 (46862, 4792, '2024-05-09 20:00:04', 'delivered', 500, '8879 Park Rd, Phoenix, AZ 81633'),
 (19655, 6603, '2024-11-28 20:00:04', 'shipped', 500, '4178 Oak Ave, Los Angeles, CA 13447'),
 (40266, 4444, '2024-06-15 20:00:04', 'delivered', 499.99, '5987 Lake Dr, Phoenix, AZ 19469'),
 (9893, 8741, '2024-06-26 20:00:04', 'pending', 499.97, '4834 Oak Ave, Chicago, IL 72005'),
 (53771, 2288, '2024-09-08 20:00:04', 'shipped', 499.96, '9308 Park Rd, New York, NY 47289'),
 (32977, 8407, '2024-10-22 20:00:04', 'pending', 499.96, '9666 Lake Dr, Chicago, IL 90977'),
 (9226, 782, '2024-03-02 20:00:04', 'processing', 499.95, '9703 Oak Ave, Phoenix, AZ 69691'),
 (30816, 2326, '2025-01-04 20:00:04', 'pending', 499.94, '3008 Main St, Houston, TX 75093'),
 (68873, 1434, '2025-01-24 20:00:04', 'shipped', 499.91, '9109 Lake Dr, Phoenix, AZ 99881'),
 (71461, 3566, '2024-06-19 20:00:04', 'processing', 499.9, '3365 Main St, Los Angeles, CA 39483'),
 (15666, 92, '2025-01-09 20:00:04', 'pending', 499.9, '2900 Hill Blvd, Los Angeles, CA 24498'),
 (54822, 1896, '2024-05-17 20:00:04', 'delivered', 499.88, '7747 Lake Dr, Chicago, IL 96984'),
 (16996, 7271, '2025-01-15 20:00:04', 'delivered', 499.87, '5815 Main St, New York, NY 15509'),
 (24713, 6036, '2024-04-23 20:00:04', 'shipped', 499.86, '9664 Park Rd, Phoenix, AZ 19812'),
 (24363, 745, '2024-11-07 20:00:04', 'pending', 499.85, '9874 Lake Dr, New York, NY 76019'),
 (6510, 5002, '2024-05-02 20:00:04', 'delivered', 499.85, '9139 Oak Ave, Los Angeles, CA 45303'),
 (87537, 1784, '2024-08-16 20:00:04', 'processing', 499.84, '3505 Main St, Houston, TX 44117'),
 (74382, 393, '2024-12-16 20:00:04', 'processing', 499.84, '9596 Main St, Chicago, IL 68757'),
 (15433, 6803, '2024-10-14 20:00:04', 'delivered', 499.84, '7276 Main St, Los Angeles, CA 25834'),
 (65142, 6515, '2024-12-24 20:00:04', 'shipped', 499.82, '1219 Main St, Los Angeles, CA 85476'),
 (60944, 9397, '2024-09-18 20:00:04', 'delivered', 499.82, '3022 Main St, Houston, TX 53103'),
 (8525, 2971, '2024-08-03 20:00:04', 'delivered', 499.82, '4355 Main St, Phoenix, AZ 10150'),
 (33267, 1335, '2024-06-24 20:00:04', 'shipped', 499.79, '2567 Main St, New York, NY 25894'),
 (17821, 9786, '2024-03-19 20:00:04', 'processing', 499.79, '3610 Park Rd, Los Angeles, CA 24946'),
 (99539, 9321, '2024-03-05 20:00:04', 'pending', 499.78, '9099 Main St, Los Angeles, CA 40397'),
 (83992, 5996, '2024-04-14 20:00:04', 'shipped', 499.77, '9288 Main St, Phoenix, AZ 14997'),
 (73728, 235, '2024-03-16 20:00:04', 'delivered', 499.77, '1755 Lake Dr, Phoenix, AZ 11506'),
 (12979, 7688, '2024-10-16 20:00:04', 'pending', 499.77, '8867 Park Rd, Chicago, IL 55008'),
 (88964, 314, '2024-08-22 20:00:04', 'delivered', 499.73, '3511 Oak Ave, Phoenix, AZ 33150'),
 (54755, 4836, '2025-02-19 20:00:04', 'delivered', 499.72, '3834 Oak Ave, Los Angeles, CA 27407'),
 (42949, 9583, '2025-02-27 20:00:04', 'delivered', 499.72, '1388 Main St, Chicago, IL 15646'),
 (57228, 3955, '2024-11-10 20:00:04', 'processing', 499.7, '5331 Hill Blvd, Houston, TX 50276'),
 (81147, 7869, '2025-01-09 20:00:04', 'delivered', 499.69, '2799 Main St, Los Angeles, CA 31851'),
 (100000, 8368, '2025-02-08 20:00:04', 'processing', 499.68, '8730 Lake Dr, Chicago, IL 58678'),
 (47293, 7408, '2024-11-24 20:00:04', 'pending', 499.68, '5959 Hill Blvd, New York, NY 10793'),
 (42027, 8430, '2024-11-20 20:00:04', 'delivered', 499.67, '9626 Hill Blvd, Houston, TX 13924'),
 (27722, 6312, '2024-07-06 20:00:04', 'delivered', 499.66, '2459 Hill Blvd, Phoenix, AZ 37507'),
 (22770, 6084, '2024-04-05 20:00:04', 'processing', 499.66, '4227 Main St, New York, NY 74667'),
 (51145, 232, '2025-01-31 20:00:04', 'shipped', 499.65, '3149 Oak Ave, Los Angeles, CA 11536'),
 (51009, 4121, '2025-02-11 20:00:04', 'pending', 499.65, '8769 Hill Blvd, Los Angeles, CA 40364'),
 (27992, 3228, '2025-01-15 20:00:04', 'delivered', 499.65, '2701 Lake Dr, New York, NY 41049'),
 (3193, 8300, '2024-11-26 20:00:04', 'processing', 499.64, '2096 Lake Dr, Phoenix, AZ 12621'),
 (24168, 5457, '2025-02-14 20:00:04', 'processing', 499.62, '1202 Main St, New York, NY 61270'),
 (17698, 4591, '2024-09-27 20:00:04', 'processing', 499.62, '7553 Hill Blvd, Chicago, IL 96959'),
 (21938, 6406, '2024-12-14 20:00:04', 'delivered', 499.61, '790 Main St, Houston, TX 64284'),
 (66746, 6953, '2024-03-07 20:00:04', 'processing', 499.58, '821 Hill Blvd, Los Angeles, CA 70102'),
 (37850, 4729, '2024-08-26 20:00:04', 'processing', 499.58, '5352 Hill Blvd, Houston, TX 17738'),
 (38248, 793, '2024-06-14 20:00:04', 'shipped', 499.53, '7416 Oak Ave, Phoenix, AZ 74870'),
 (95214, 8071, '2024-10-01 20:00:04', 'shipped', 499.51, '3282 Hill Blvd, New York, NY 32701'),
 (22018, 6722, '2025-02-24 20:00:04', 'shipped', 499.51, '2663 Oak Ave, New York, NY 56926'),
 (21778, 9572, '2024-11-01 20:00:04', 'processing', 499.51, '3324 Hill Blvd, New York, NY 71600'),
 (7152, 4590, '2025-02-01 20:00:04', 'delivered', 499.5, '4371 Lake Dr, Los Angeles, CA 97061'),
 (62389, 1990, '2024-10-17 20:00:04', 'shipped', 499.48, '3977 Lake Dr, Phoenix, AZ 97377'),
 (59078, 284, '2024-04-09 20:00:04', 'delivered', 499.48, '4932 Hill Blvd, Chicago, IL 85123'),
 (66648, 6725, '2024-08-12 20:00:04', 'delivered', 499.47, '7132 Lake Dr, Los Angeles, CA 53930'),
 (15442, 206, '2024-03-29 20:00:04', 'pending', 499.47, '5237 Oak Ave, New York, NY 83006'),
 (80198, 9870, '2025-02-24 20:00:04', 'processing', 499.45, '6333 Oak Ave, Houston, TX 65458'),
 (45719, 5680, '2024-06-03 20:00:04', 'processing', 499.45, '4849 Oak Ave, Los Angeles, CA 57516'),
 (42347, 4783, '2024-06-01 20:00:04', 'pending', 499.45, '7106 Lake Dr, Los Angeles, CA 42754'),
 (35838, 8750, '2024-10-04 20:00:04', 'delivered', 499.45, '7968 Main St, Houston, TX 48989'),
 (88652, 3501, '2025-01-22 20:00:04', 'shipped', 499.44, '460 Park Rd, Chicago, IL 58618'),
 (27032, 5044, '2024-10-04 20:00:04', 'pending', 499.43, '9683 Oak Ave, Los Angeles, CA 52870'),
 (48487, 5641, '2024-12-25 20:00:04', 'shipped', 499.42, '9942 Lake Dr, Phoenix, AZ 62737'),
 (82443, 4944, '2024-07-08 20:00:04', 'delivered', 499.4, '6428 Hill Blvd, Chicago, IL 30415'),
 (17752, 6781, '2024-07-04 20:00:04', 'processing', 499.4, '3559 Oak Ave, New York, NY 34393'),
 (13331, 2628, '2024-09-17 20:00:04', 'processing', 499.39, '5825 Park Rd, Phoenix, AZ 15838'),
 (67317, 6881, '2024-09-26 20:00:04', 'delivered', 499.37, '7304 Lake Dr, Los Angeles, CA 21386'),
 (17233, 4957, '2024-04-03 20:00:04', 'pending', 499.37, '1327 Main St, Chicago, IL 41482'),
 (26891, 8211, '2024-06-23 20:00:04', 'delivered', 499.36, '3500 Hill Blvd, Houston, TX 22040'),
 (20960, 5645, '2024-07-17 20:00:04', 'delivered', 499.36, '2222 Oak Ave, Houston, TX 72654'),
 (65250, 7548, '2024-06-05 20:00:04', 'shipped', 499.35, '5077 Oak Ave, Los Angeles, CA 34032'),
 (59242, 9978, '2024-11-19 20:00:04', 'pending', 499.34, '7540 Oak Ave, Phoenix, AZ 93651'),
 (32652, 4631, '2024-08-31 20:00:04', 'processing', 499.34, '6548 Main St, New York, NY 68770'),
 (29736, 7542, '2024-11-10 20:00:04', 'delivered', 499.34, '193 Main St, New York, NY 51839'),
 (6591, 7550, '2025-01-26 20:00:04', 'shipped', 499.34, '4985 Hill Blvd, Los Angeles, CA 12503'),
 (61260, 1976, '2025-01-27 20:00:04', 'delivered', 499.31, '712 Hill Blvd, Houston, TX 73516'),
 (70861, 424, '2024-08-26 20:00:04', 'pending', 499.3, '5305 Oak Ave, Los Angeles, CA 85883'),
 (68519, 2256, '2024-05-02 20:00:04', 'shipped', 499.3, '3803 Hill Blvd, Houston, TX 47168'),
 (41749, 6045, '2024-06-26 20:00:04', 'processing', 499.3, '3606 Hill Blvd, New York, NY 32726'),
 (12650, 9893, '2024-08-09 20:00:04', 'delivered', 499.29, '9936 Lake Dr, Phoenix, AZ 11371'),
 (28904, 3054, '2025-02-17 20:00:04', 'shipped', 499.28, '5095 Hill Blvd, New York, NY 57938'),
 (77843, 5610, '2024-09-23 20:00:04', 'processing', 499.27, '879 Lake Dr, Houston, TX 37050'),
 (74012, 6005, '2024-04-26 20:00:04', 'shipped', 499.22, '179 Hill Blvd, New York, NY 85936'),
 (81736, 8762, '2024-05-06 20:00:04', 'processing', 499.21, '7349 Main St, Chicago, IL 34391'),
 (44755, 3939, '2024-09-01 20:00:04', 'pending', 499.19, '7167 Oak Ave, Phoenix, AZ 31613'),
 (39625, 1305, '2024-07-23 20:00:04', 'processing', 499.19, '5446 Oak Ave, Houston, TX 76376'),
 (86270, 4409, '2024-03-29 20:00:04', 'delivered', 499.17, '2581 Park Rd, Los Angeles, CA 91765'),
 (34347, 3646, '2024-11-09 20:00:04', 'delivered', 499.14, '2632 Hill Blvd, Houston, TX 32226'),
 (59671, 7953, '2024-04-28 20:00:04', 'delivered', 499.12, '3452 Oak Ave, Los Angeles, CA 51301'),
 (97362, 1102, '2024-09-23 20:00:04', 'shipped', 499.11, '5919 Hill Blvd, Los Angeles, CA 74304'),
 (38747, 7995, '2024-09-23 20:00:04', 'delivered', 499.11, '2578 Main St, Chicago, IL 31996'),
 (26679, 5946, '2024-08-03 20:00:04', 'delivered', 499.1, '4447 Lake Dr, Los Angeles, CA 70859'),
 (8059, 117, '2025-01-18 20:00:04', 'delivered', 499.09, '5761 Main St, Los Angeles, CA 38609'),
 (69466, 9436, '2024-11-25 20:00:04', 'processing', 499.03, '2205 Lake Dr, Chicago, IL 93551'),
 (51249, 6751, '2024-11-06 20:00:04', 'pending', 499.03, '9347 Oak Ave, Chicago, IL 98367'),
 (20133, 9655, '2024-10-10 20:00:04', 'processing', 499.03, '2846 Hill Blvd, New York, NY 66562'),
 (40955, 4331, '2024-11-10 20:00:04', 'shipped', 499.01, '3464 Park Rd, Houston, TX 37336'),
 (38839, 1324, '2024-10-23 20:00:04', 'pending', 498.99, '9459 Park Rd, New York, NY 72501'),
 (3408, 2345, '2025-02-07 20:00:04', 'shipped', 498.97, '1515 Main St, Phoenix, AZ 37159')]

In [28]:
%%sql
-- 4. Create an index on phone numbers with a WHERE clause
CREATE INDEX idx_customers_phone ON customers(phone)
WHERE phone IS NOT NULL;

-- Analyze phone lookup performance
EXPLAIN QUERY PLAN
SELECT * FROM customers
WHERE phone LIKE '+1-555%';

 * sqlite:///lab8_SQL.db
Done.
Done.

[(3, 0, 0, 'SCAN customers USING INDEX idx_customers_phone')]

In [29]:
%%time
%%sql
-- Analyze phone lookup performance
SELECT * FROM customers
WHERE phone LIKE '+1-555%';

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 4.3 ms, sys: 0 ns, total: 4.3 ms
Wall time: 3.56 ms

[(1501, 'Customer 1501', 'customer1501@yahoo.com', '+1-555-129-6669', '2025-03-01 20:00:04'),
 (9085, 'Customer 9085', 'customer9085@hotmail.com', '+1-555-197-2194', '2025-03-01 20:00:04'),
 (8265, 'Customer 8265', 'customer8265@example.com', '+1-555-228-8709', '2025-03-01 20:00:04'),
 (1370, 'Customer 1370', 'customer1370@yahoo.com', '+1-555-398-6500', '2025-03-01 20:00:04'),
 (9356, 'Customer 9356', 'customer9356@yahoo.com', '+1-555-449-1429', '2025-03-01 20:00:04'),
 (9196, 'Customer 9196', 'customer9196@example.com', '+1-555-626-7830', '2025-03-01 20:00:04'),
 (4661, 'Customer 4661', 'customer4661@example.com', '+1-555-673-6731', '2025-03-01 20:00:04'),
 (3440, 'Customer 3440', 'customer3440@yahoo.com', '+1-555-695-5038', '2025-03-01 20:00:04'),
 (7700, 'Customer 7700', 'customer7700@example.com', '+1-555-724-3691', '2025-03-01 20:00:04'),
 (377, 'Customer 377', 'customer377@hotmail.com', '+1-555-747-3556', '2025-03-01 20:00:04'),
 (2099, 'Customer 2099', 'customer2099@example.com', '+1-555-854-1381', '2025-03-01 20:00:04'),
 (3461, 'Customer 3461', 'customer3461@gmail.com', '+1-555-861-5563', '2025-03-01 20:00:04'),
 (7555, 'Customer 7555', 'customer7555@hotmail.com', '+1-555-927-8295', '2025-03-01 20:00:04'),
 (3421, 'Customer 3421', 'customer3421@example.com', '+1-555-989-7059', '2025-03-01 20:00:04')]

In [30]:
%%sql
-- Analyze phone lookup performance
EXPLAIN QUERY PLAN
SELECT * FROM customers
WHERE phone = '+1-555-927-8295';

 * sqlite:///lab8_SQL.db
Done.

[(3, 0, 0, 'SEARCH customers USING INDEX idx_customers_phone (phone=?)')]

In [31]:
%%time
%%sql
-- Analyze phone lookup performance
SELECT * FROM customers
WHERE phone = '+1-555-927-8295';

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 2.98 ms, sys: 0 ns, total: 2.98 ms
Wall time: 2.73 ms

[(7555, 'Customer 7555', 'customer7555@hotmail.com', '+1-555-927-8295', '2025-03-01 20:00:04')]

In [32]:
%%sql

PRAGMA index_list('orders');

 * sqlite:///lab8_SQL.db
Done.

[(0, 'idx_orders_amount', 0, 'c', 0),
 (1, 'idx_high_value_orders', 0, 'c', 1),
 (2, 'idx_orders_customer_date', 0, 'c', 0)]

In [22]:
%%sql

-- drop index idx_orders_amount;
-- 5. Create a partial index for high-value orders
CREATE INDEX idx_high_value_orders ON orders(order_id, customer_id)
WHERE amount > 909;

-- Analyze partial index usage
EXPLAIN QUERY PLAN
SELECT * FROM orders
WHERE amount > 909.5 ;

 * sqlite:///lab8_SQL.db
Done.
Done.

[(2, 0, 0, 'SCAN orders')]

In [24]:
%%time
%%sql
-- Analyze partial index usage
EXPLAIN QUERY PLAN
SELECT * FROM orders
WHERE amount > 909 and amount <909.1
limit 100;

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 1.71 ms, sys: 0 ns, total: 1.71 ms
Wall time: 1.57 ms

[(4, 0, 0, 'SCAN orders USING INDEX idx_high_value_orders')]

In [25]:
%%time
%%sql
-- Analyze partial index usage
SELECT * FROM orders
WHERE amount > 909 and amount <909.1
limit 100;

 * sqlite:///lab8_SQL.db
Done.
CPU times: user 3.21 ms, sys: 37 µs, total: 3.25 ms
Wall time: 2.77 ms

[(4539, 5177, '2024-06-08 20:00:04', 'shipped', 909.01, '5970 Park Rd, Phoenix, AZ 98089'),
 (10673, 7958, '2024-07-29 20:00:04', 'delivered', 909.04, '3348 Main St, New York, NY 78603'),
 (10865, 3172, '2024-07-21 20:00:04', 'processing', 909.04, '7119 Oak Ave, Los Angeles, CA 19485'),
 (18017, 863, '2024-12-06 20:00:04', 'delivered', 909.04, '856 Lake Dr, New York, NY 93900'),
 (19534, 1606, '2024-11-15 20:00:04', 'processing', 909.06, '8869 Hill Blvd, Los Angeles, CA 43620'),
 (38832, 1012, '2024-09-25 20:00:04', 'pending', 909.05, '452 Oak Ave, Los Angeles, CA 88740'),
 (40312, 4004, '2025-01-19 20:00:04', 'processing', 909.01, '1578 Hill Blvd, Los Angeles, CA 94336'),
 (42076, 3432, '2024-06-12 20:00:04', 'processing', 909.08, '9542 Hill Blvd, Houston, TX 33339'),
 (53423, 8701, '2024-05-01 20:00:04', 'pending', 909.06, '1083 Oak Ave, Chicago, IL 27783'),
 (54929, 4238, '2025-01-09 20:00:04', 'delivered', 909.01, '9188 Hill Blvd, Chicago, IL 37629'),
 (64752, 4518, '2024-10-27 20:00:04', 'pending', 909.03, '6428 Park Rd, Houston, TX 29102'),
 (66380, 6424, '2024-06-23 20:00:04', 'shipped', 909.02, '7875 Hill Blvd, Houston, TX 94317')]

In [33]:
%%sql
-- Analyze partial index usage
EXPLAIN QUERY PLAN
SELECT order_id, customer_id FROM orders
WHERE amount > 800 AND customer_id > 100;

 * sqlite:///lab8_SQL.db
Done.

[(3, 0, 0, 'SEARCH orders USING INDEX idx_orders_amount (amount>?)')]

In [34]:
%%sql
-- Get index information
SELECT * FROM sqlite_master
WHERE type = 'index';

 * sqlite:///lab8_SQL.db
Done.

[('index', 'idx_customers_email', 'customers', 2246, 'CREATE INDEX idx_customers_email ON customers(email)'),
 ('index', 'idx_orders_customer_date', 'orders', 2323, 'CREATE INDEX idx_orders_customer_date ON orders(customer_id, order_date)'),
 ('index', 'idx_high_value_orders', 'orders', 3078, 'CREATE INDEX idx_high_value_orders ON orders(order_id, customer_id)\nWHERE amount > 909'),
 ('index', 'idx_orders_amount', 'orders', 3079, 'CREATE INDEX idx_orders_amount ON orders(amount)'),
 ('index', 'idx_customers_phone', 'customers', 3489, 'CREATE INDEX idx_customers_phone ON customers(phone)\nWHERE phone IS NOT NULL')]

In [35]:
%%sql

-- Example of a complex query using multiple indexes
EXPLAIN QUERY PLAN
SELECT
    c.name,
    c.email,
    o.order_date,
    o.amount,
    o.shipping_address
FROM orders o
JOIN customers c ON o.customer_id = c.customer_id
WHERE o.status = 'shipped'
AND o.order_date >= datetime('now', '-7 days')
ORDER BY o.amount DESC;

 * sqlite:///lab8_SQL.db
Done.

[(5, 0, 0, 'SCAN o USING INDEX idx_orders_amount'),
 (16, 0, 0, 'SEARCH c USING INTEGER PRIMARY KEY (rowid=?)')]